


.headerOuter {

    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* ### Neutral */

    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    background-color: var(--white);
}

.minicartIcon {
    width: 20px;
    height: 20px;
}

.minicartBadge {
    background-color: var(--orange);
    color: white;
    font-size: 10px;
    padding: 0.2rem .51rem;
    border-radius: 50%;
    bottom: 80%;
    left: 50%;
}

.liHeader{
    transition: .5s ease-in-out;
}

.liHeader:hover {
    border-bottom: 4px solid var(--orange);
}

.desktopLink {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    transition: .4s ease-in-out;
}

.desktopLink:hover {
    color: var(--very-dark-blue);
}

@media screen and (min-width: 768px){
    .menuTrigger {
        display: none;
    }

    .headerInner {
        border-bottom: 1px solid var(--grayish-blue);
        height: 4rem;
    }

    .desktopLinks {
        display: flex;
    }

    .headerOuter {
        max-width: 1280px;
        margin-inline: auto;
    }

    .userAvatar {
        transition: .51s ease-in-out;
        border-radius: 20px;
    }

    .userAvatar:hover{
        border: 1.5px solid var(--orange);
    }
}