.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: .5rem;

    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
}

.closeIcon {
    color: white;
    transition: color .4s ease-in-out;
}

.closeIcon:hover {
    color: var(--orange);
}

.selected {
    border: 2px solid hsl(26, 100%, 55%);
}

.selected img{
    opacity: .5;
    background-color: white;
}

.thumbnail {
    background: white;
    height: fit-content;
}

.navigationIcon {
    background-color: white;
    border-radius: 50%;
    padding: .5rem .7rem;
    top: 50%;
    transition: .4s ease-in-out;
}

.previousIcon {
    left: -4%;
}

.navigationIcon:hover {
    color: var(--orange);
}

.nextIcon {
    right: -4%;
}